<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Nildottie Car Club - Content page</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../css-vendors/normalize.css">
  <link rel="stylesheet" href="../css-vendors/skeleton.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/queries.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../images/favicon.png">
	

	
	
</head>
<body>

<container class="main">
	<header>
	  <nav>
		<div class="nav-bar menu-link">
		  <a href="../index.html"><img src="../images/logo_white.png" id="header-image"></a>
			<ul id="nav">
			  <a href="news-listing.html"><li>Club News</li></a>
			  <a href="content.html"><li>Events</li></a>
			  <a href="content.html"><li>Membership</li></a>
			  <a href="content.html"><li>Conditional Registration</li></a>
			  <a href="tel:0431517709" id="phone-icon"><li><i class="ion-ios-telephone"></i></li></a>
			</ul>
			  <a class="mobile-nav-icon menu-link"><i class="ion-navicon-round"></i></a>
		  </div>
		</nav>
	  <div class="header sub-page" style="background-image: url(../images/HQ-and-Chevy.jpg);">
		<h1 class="hero-text" >Content page.</h1>
	  </div>
	</header>
	<div class="container content-articles">
		<div class="row content-area">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec turpis scelerisque, tincidunt mi fermentum, dapibus odio. Phasellus nec ex posuere est cursus ultricies. Cras finibus scelerisque est. Suspendisse rutrum enim sapien, eu iaculis est dapibus eu. Aenean commodo dui sem, vel venenatis quam faucibus sit amet. Integer auctor libero sapien, id auctor ante lobortis non. Phasellus sagittis elementum lorem sed ultrices. Morbi euismod lectus maximus purus congue, in consectetur sapien sollicitudin. Quisque sit amet pellentesque lacus. Proin volutpat lobortis aliquam.
			</p>
			<div class="container content image-container">
				<img src='../images/HQ%20and%20Chevy.png' class='content-image'>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec turpis scelerisque, tincidunt mi fermentum, dapibus odio. Phasellus nec ex posuere est cursus ultricies. Cras finibus scelerisque est. Suspendisse rutrum enim sapien, eu iaculis est dapibus eu. Aenean commodo dui sem, vel venenatis quam faucibus sit amet. Integer auctor libero sapien, id auctor ante lobortis non. Phasellus sagittis elementum lorem sed ultrices. Morbi euismod lectus maximus purus congue, in consectetur sapien sollicitudin. Quisque sit amet pellentesque lacus. Proin volutpat lobortis aliquam.
			</p>
			<input class="button button-primary" value="Click me">
		
		</div>	
	</div>
	<div class="row footer">
			<ul id="footer-nav">
				  <a href="/club-news"><li>Home</li></a>
				  <a href="/events"><li>Club News</li></a>
				  <a href="/membership"><li>Events</li></a>
				  <a href="/conditional-registration"><li>Membership</li></a>
				  <a href="/conditional-registration"><li>About the Club</li></a>
				  <a href="/conditional-registration"><li>Conditional Registration</li></a>
				  <a href="/conditional-registration"><li>Contact Us</li></a>
			</ul>
			<div class="row footer-social">
				<a href="#" class="site-credits">&copy; Website by Scott Schubert</a>
				<a href="https://www.facebook.com/malleetorque"><i class="footer ion-social-facebook"></i></a>
			</div>


	</div>


		
</container>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	
<!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<script src="../js/scripts.js"></script>
	<script src="../js-vendors/jquery.waypoints.js"></script>
	<!--<script src="js-vendors/big-slide-menu.js"></script>-->
   
</body>
</html>
