/* --------------------*/
/* Big to 1200px (widths smaller than the 1140px row)*/

@media only screen and (max-width: 1920px){
	 
	.mobile-nav-icon {
        display: none;
    }

}
    




/* --------------------*/
/* Small tablet to big tablet: From 768px to 1074px*/

@media only screen and (max-width: 1074px){
    
	.mobile-nav-icon {
        display: block;
    }
	
	.nav-bar {
		height: auto;
		width: 100vw;
	}
	
	#nav {
        display: none;
    }
    
    .mobile-nav-icon.ion-navicon-round {
        display: inline-block;
		margin-top: 10px;
		float: right;
    }
	

    
    #nav  {
        float: right;
        margin-top: 30px;
        margin-left: 10px;
		background-color: #000;
		z-index: 999;

    }
    
    #nav li  {
        display: block;
		border-bottom: none;
    }
	
  	.sticky-nav #nav li {
		  display: block;
		  margin-left: 10px;
		  font-size: 100%;
		  margin-right: 50px;
		  color: #fff;
	}

	#nav a, .sticky-nav #nav li a {
		text-decoration: none;
	}
	

	
	#footer-nav li {
		font-size: 80%;
		margin-right: 15px;
	}
}

/* --------------------*/
/* All phones smaller than iPad 481 to 767px */

@media only screen and (max-width: 767px){
    
	.hero-text {
	position: relative;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
	font-weight: 600;
}

	.header, .header.sub-page {
	height: 50vh;
	background-size: cover;
	background-position: center;
}
    
	.news-row .left-image {
	background-image: url(../images/cars.png);
	background-size: cover;
	height: 30vh;
	background-position: center
}
	
	.feature-events {
	margin-left: 15px;
	margin-top: 15px;
	}
	
	.membership-banner {
	background-image: url(../images/membership-banner.png);
	background-size: cover;
	height: 50vh;
	background-position: center
}
   .events-banner {
	background-image: url(../images/Valiants.jpg);
	background-size: cover;
	height: 50vh;
	background-position: center;
}
    
}




/* --------------------*/
/* Small phones from 0 to 480px */

@media only screen and (max-width: 480px){
	
	.hero-text {
	position: relative;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	color: #fff;
	text-align: center;
	font-weight: 600;
	font-size: 130%;
}
	
	.left-image h3,
	.right-image h3 {
	color: #fff;
	position: relative;
	text-align: center;
	top: 30%; 

}
	
	.gallery-images {
    list-style: none;
    width: 100%;
}

	.gallery-images li {
    display: block;
    float: left;
    width: 50%;

}

	.gallery-image {
	width: 100%;
    margin: 0;
	overflow: hidden;
    background-color: #000;

}
	
	
	#footer-nav li {
	font-size: 80%;
	display: block;
	margin-top: 10px;
	width: 100%;
	}
	
	#footer-nav li:hover {
		border-bottom: none;
	}
	
	.footer.ion-social-facebook, .footer.ion-social-facebook:hover {
		text-align: center;
		float: none;
		margin-left: 50%;
	}
  
	.site-credits {
		font-size: 70%;
		width: 100%;
		float: none;
		display: block;
		text-align: center;
	}
	
	#footer-nav {
		top: 50%;
	}
	
	#footer-nav li a {
		text-decoration: none;
	}
	
	.feature-events {
		text-align: center;
	}
	
	.header, .header.sub-page {
	height: 35vh;
	background-size: cover;
	background-position: center;
}

	#header-image {
	  height: 50px;
	  margin-left: 10px;
	  margin-top: 10px;
	  display: none;
	}
	
	
	.mobile-nav-icon {
		margin-top: 12px;
	}
	
	.feature-events {
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	}
	
	.intro-para, .events-para, .membership-para {
		width: 85vw;
	}
}


