.main {
	overflow: hidden;
}

/**************Main Nav**************/
#nav {
  list-style: none;
  float: right;
}

#header-image {
  height: 50px;
  margin-left: 10px;
  margin-top: -5px;
}

.nav-bar {
	background-color: #000;
	z-index: 999;

}

#nav li {
  display: inline-block;
  margin-left: 10px;
  font-size: 120%;
  margin-right: 50px;
  color: #fff;
}

#nav {
	margin-top: 20px;
}


.ion-ios-telephone {
	font-size: 2em;
}

nav a:hover{
	border-bottom: 1px solid #48beff;
	padding-bottom: 5px;
	color: #bcb7b7;	
}

nav #phone-icon i {
	color: #1EAEDB;
}

nav #phone-icon i:hover {
	border-bottom: none;
	color: #1EAEDB;
}

/**************Mobile Nav**************/


.nav-bar.mobile-nav-icon {
    float: right;
    margin-top: 15px;
    cursor: pointer;
}

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #1EAEDB;
	margin-right: 50px;
}

/**************Sticky Nav**************/

.sticky-nav #nav {
  list-style: none;
  float: right;
  margin-top: 10px;
}

.sticky-nav #header-image {
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

.sticky-nav.nav-bar {
	background-color: #000;
	z-index: 999;
	position: fixed;
	width: 100%;
	height: 70px;

}

.sticky-nav #nav li {
  display: inline-block;
  margin-left: 10px;
  font-size: 100%;
  margin-right: 50px;
  color: #fff;
}

.sticky-nav.ion-ios-telephone {
	font-size: 1.5em;
}

.sticky-nav #nav li:hover{
	border-bottom: 1px solid #48beff;
	padding-bottom: 10px;
	color: #bcb7b7;	
}


/**************Hero Box**************/

.header {
	
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.header.sub-page {
	
	height: 85vh;
	background-size: cover;
	background-position: center;
}

.hero-text {
	position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	font-weight: 600;
	z-index: 1;
}

.hero-text {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


/**************Intro Para**************/

.intro-para, .events-para, .membership-para {
	text-align: center;
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

/*.intro-para.hidden {
	visibility: hidden;
}*/


/**************feature news**************/

.news-row, .events-row {
	background-color: #dcdcdc;
	margin-bottom: 4px;
}

.news-row .left-image {
	
	background-size: cover;
	height: 75vh;
	background-position: center
}

.feature-events {
	position: relative;
	/*margin-top: 15px;*/
	margin-top: 10%;
}

.left-image h3,
.right-image h3 {
	color: #fff;
	position: relative;
	text-align: center;
	top: 50%; 

}

.arrow_box {
	position: relative;
	border-right: 4px solid #fff;

}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #ffffff;
	border-width: 30px;
	margin-top: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #ffffff;
	border-width: 36px;
	margin-top: -36px;
}

/**************feature news**************/

.events-row .right-image {
	background-image: url(../images/cobra-11.png);
	background-size: cover;
	height: 75vh;
	width: 100%;
	background-position: center
}

.feature-event {
	position: relative;
	margin-top: 15px;
	margin-left: 15px;
}
 
.row.news-row:last-child {
	margin-top: 4px;
}

.events-row .button.button-primary, .news-row .button.button-primary {
	margin-top: 20px;
}

/**************Membership Banner**************/

.membership-banner {
	
	background-size: cover;
	height: 75vh;
	background-position: center
}

.membership-banner h2 {
	position: relative;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	font-weight: 600;
}

/**************Events Banner**************/

.events-banner {
	
	background-size: cover;
	height: 75vh;
	background-position: center;
}

.events-banner h2 {
	position: relative;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	font-weight: 600;
}

/**************Gallery Banner**************/

.container.gallery {
	padding: 0;
}

.gallery-images {
    list-style: none;
    width: 100%;
}

.gallery-images li {
    display: block;
    float: left;
    width: 33%;

}

.gallery-image {
	width: 100%;
    margin: 0;
	overflow: hidden;
    background-color: #000;
}

.gallery-image img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.gallery-image img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
      
}

.clearfix {zoom:1}
.clearfix:after {
    content:'.';
    clear: both;
    display: block;
    height: ;
    visibility: hidden;
}




/**************Footer**************/

.row.footer {
	background-color: #000000;
	opacity: 0.8;
	z-index: 999;
}

#footer-nav li {
  display: inline-block;
  margin-top: 45px;
  font-size: 120%;
  margin-right: 50px;
  color: #fff;

}


#footer-nav li:hover {
  border-bottom: 1px solid #48beff;
  padding-bottom: 5px;
  color: #bcb7b7;	
}


#footer-nav {
	text-align: center;
}

.footer.ion-social-facebook {
	font-size: 2em;
	float: right;
	margin-right: 14%;
	color: #fff;
	padding-bottom: 15px;
}

.footer.ion-social-facebook:hover {
	font-size: 2em;
	color: #1EAEDB; 
	float: right;
	margin-right: 14%;
	
}

.site-credits {
	margin-left: 9%;
	float: left;
}

/**************News listing page**************/

.row.news {
	margin: 15px 0 15px 0;
	padding: 0 0 15px 0;
	border-bottom: 0.5px solid #a5a5a5;
}

.row.news:last-child {
	border-bottom: none;
}

/**************News listing page**************/

.row.content-area {
	margin: 15px 0 15px 0;
	padding: 0 0 15px 0;
}

.container.content.image-container {
	overflow: hidden;
	margin-bottom: 15px;
}

.content-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
	width: auto;
	height: 75vh;

}

